.modal-body {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    padding: 40px;
    border-radius: 4px;
    color: var(--primary-font-color);
    background-color: var(--secondary-background-color);
}

.dark .modal-body {
    color: var(--secondary-font-color-dark-theme);
    background-color: var(--secondary-background-color-dark-theme);
}


#signInForm,
#logInForm {
    min-width: 240px;   
    display: flex;
    flex-direction: column;    
}



#submitSignInBtn,
#submitLogInBtn {
    @include font( 16px, 700, 1.9);
    width: 200px;
    height: 40px;
    margin-top: 30px;
    color: var(--primary-font-color);
    background: #ffa500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition-property: background-color;
    &:focus,
    &:hover {
        background-color: var(--primary-accent-color);
    }
}


#username,
#email,
#password {
    width: 100%;
    height: 40px; 
    padding-left: 10px;   
    border: 1px solid rgba(33, 33, 33, 0.2);
    background-color: var(--secondary-background-color);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    margin-top: 4px;
    &:focus {
            border: 1px solid var(--primary-accent-color);
        }
};

.dark #username,
.dark #email,
.dark #password {
    color: var(--primary-font-color-dark-theme);
    background-color: var(--secondary-background-color-dark-theme);
    border: 1px solid var(--secondary-font-color-dark-theme);
    &:focus {
            border: 1px solid var(--primary-accent-color);
        }
}

.form-button {
    display: flex;
    justify-content: center;
}

.modal-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--primary-text-color);
    text-align: center;
    margin-bottom: 12px;
}

.form-field {
    font-size: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.input-text {
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.01em;
    color: var(--primary-font-color);    
}

.dark .input-text {
    color: var(--secondary-font-color-dark-theme);
}

.modal-button {
    font-weight: 500;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;    
    background-color: var(--secondary-background-color);
}

.dark .modal-button {
    background-color: var(--secondary-background-color-dark-theme);
}

.modal-button-x {
    width:24px;
    height: 24px;
    fill: #000000;    
    &:focus ,
    &:hover {
        fill: var(--primary-accent-color);
    }
}

.dark .modal-button-x {
    fill: var(--primary-font-color-dark-theme);
        &:focus,
        &:hover {
            fill: var(--primary-accent-color);
        }
}
