.header-home__container {
  padding-top: 44px;
  padding-bottom: 44px;
  background-image: url(/src/images/header-home-480px.svg);

  @include tab {
    background-image: url(/src/images/header-home-768px.svg);
  }

  @include desk {
    background-image: url(/src/images/header-home-1280px.svg);
  }
}

.nav-home {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 56px;
}

.header-home__btn {
  @include font(12px, 500, 1.17);
  text-transform: uppercase;

  color: var(--white-color);
}

.header-home__btn--append {
  margin-right: 40px;
}

.header-home-input__container {
  margin: 0 auto;
  width: 280px;

  position: relative;
}

.header-home__input {
  min-width: 280px;

  border: none;
  border-bottom: 1px solid var(--white-color);

  @include font(14px, 400, 1.14);

  color: var(--white-color);
  background-color: transparent;
}

.header-home__input::placeholder {
  color: var(--white-color);
}

.header-home-btn__container {
  text-align: center;
}

.header-home-svg__container {
  position: absolute;
  top: 0;
  left: 95%;
}

.header-home__svg {
  width: 12px;
  height: 12px;
}
