.footer {
    background-color: var(--secondary-background-color);
    padding: 30px 20px;
    width: 320px;
    margin: 0 auto;
        @include tab {
            padding-left: 32px;
            padding-right: 32px;
            width: 768px;
        }
    
        @include desk {
            padding-left: 32px;
            padding-right: 32px;
            width: 1280px;
        }
}
.footer-text {
@include font(14px, 400, 1.2);
color: var(--secondary-font-color);
}
.footer-text_article {
    text-align: center;
    margin-bottom: 10px;
}
.footer-box-two {
    display: flex;
    align-items: center;
   justify-content: center;
}
.footer-images {
    margin-left: 10px;
    margin-right: 10px;
}

@include tab() {
    .footer-box-one {
       display: flex;
       justify-content: center;
    }
    .footer-text_article {
        margin-bottom: 0;
        margin-right: 4px;
    }
    .footer-text {
        @include font(16px, null, null);
    }
}