:root {
  --primary-font-color: #000000;
  --secondary-font-color: #545454;
  --primary-accent-color: #ff6b08;
  --secondary-accent-color: #ff001b;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f7f7f7;
  --white-color: #ffffff;
  --primary-background-color-dark-theme-body: #202124;
  --primary-font-color-dark-theme: #bdc1c6;
  --secondary-font-color-dark-theme: #e8eaed;
  --primary-background-color-dark-theme: #262626;
  --secondary-background-color-dark-theme: #303134;
  --accent-color-btn: #ff6b01;
  --background-backout: rgba(0, 0, 0, 0.56);
}
