:root {
    --primary-font-color: #000000;
    --secondary-font-color: #545454;
    --primary-accent-color: #FF6B08;
    --secondary-accent-color: #FF001B;
    --primary-background-color: #E5E5E5;
    --secondary-background-color: #F7F7F7;
    --white-color: #FFFFFF;
    --primary-background-color-dark-theme-body: #202124;
    --primary-font-color-dark-theme: #bdc1c6;
    --secondary-font-color-dark-theme: #e8eaed;
    --primary-background-color-dark-theme: #262626;
    --secondary-background-color-dark-theme: #303134;
}