:root {
    --primary-font-color: #000000;
    --secondary-font-color: #545454;
    --primary-accent-color: #FF6B08;
    --secondary-accent-color: #FF001B;
    --primary-background-color: #E5E5E5;
    --white-color: #FFFFFF;
}