<header>
  <div class="container header-home__container">
    <div class="header-home-btn__container">
      <button class="header-home-login__btn" id="signInBtn" type="button">
        Sign In
      </button>
      <button class="header-home-login__btn" id="logInBtn" type="button">
        Log In
      </button>
    </div>

    <nav class="nav-home">
      <a href="">
        <img class="img" src="./images/film.svg" alt="Home" />
      </a>

      <div>
        <button class="header-home__btn header-home__btn--append">Home</button>
        <button class="header-home__btn">My library</button>
      </div>
    </nav>

    <div class="header-home-input__container">
      <div>
        <input
          class="header-home__input"
          type="text"
          name=""
          id=""
          placeholder="Movie search"
        />
      </div>

      <div class="header-home-svg__container">
        <button class="header-home-svg__btn">
          <svg class="header-home__svg" width="12" heigth="12">
            <use href="/src/images/icons.svg#search"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
