<header class="container header-home">
  <div class="header-home__container">
    <div class="header-home-btn__container">
      <button
        class="header-home-login__btn visually-hidden"
        id="signInBtn"
        type="button"
      >
        Sign In
      </button>
      <button
        class="header-home-login__btn visually-hidden"
        id="logInBtn"
        type="button"
      >
        Log In
      </button>
      <button
        class="header-home-login__btn visually-hidden"
        id="logOutBtn"
        type="button"
      >
        Log Out
      </button>
    </div>

    <nav class="nav-home">
      <div class="nav-home__container">
        <a class="nav-home__link" href="/src/index.html">
          <svg class="nav-home__svg" width="24" heigth="24">
            <use href="/src/images/icons.svg#film"></use>
          </svg>
          <span class="nav-home-logo__link nav-home-logo__link--append"
            >Filmoteka</span
          >
        </a>
      </div>

      <ul class="nav-home__list">
        <li>
          <a
            class="nav-home__link nav-home__link--append nav-home__link--overlay"
            href="/src/index.html"
            >Home</a
          >
        </li>
        <li>
          <a class="nav-home__link" href="/src/my-library.html">My library</a>
        </li>
      </ul>
    </nav>

    <div class="header-home-input__container">
      <div>
        <input
          class="header-home__input"
          type="text"
          name=""
          id=""
          placeholder="Movie search"
        />
      </div>

      <div class="header-home-svg__container">
        <button class="header-home-svg__btn">
          <svg class="header-home__svg" width="12" heigth="12">
            <use href="/src/images/icons.svg#search"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="toggle">
      <div class="toggle-icon">
        <div id="svg-animation"></div>
      </div>
    </div>
  </div>
</header>
