<header>
  <div class="container header-home__container">
    <div class="header-home-btn__container">
      <button class="header-home-login__btn" id="signInBtn" type="button">
        Sign In
      </button>
      <button class="header-home-login__btn" id="logInBtn" type="button">
        Log In
      </button>
    </div>

    <nav class="nav-home">
      <div class="nav-home__container">
        <a class="nav-home__link" href="/src/index.html">
          <svg class="nav-home__svg" width="24" heigth="24">
            <use href="/src/images/icons.svg#film"></use>
          </svg>
        </a>
        <a
          class="nav-home-logo__link nav-home-logo__link--append"
          href="/src/index.html"
          >Filmoteka</a
        >
      </div>

      <div>
        <a
          class="nav-home__link nav-home__link--append nav-home__link--overlay"
          href="/src/index.html"
          >Home</a
        >
        <a class="nav-home__link" href="">My library</a>
      </div>
    </nav>

    <div class="header-home-input__container">
      <div>
        <input
          class="header-home__input"
          type="text"
          name=""
          id=""
          placeholder="Movie search"
        />
      </div>

      <div class="header-home-svg__container">
        <button class="header-home-svg__btn">
          <svg class="header-home__svg" width="12" heigth="12">
            <use href="/src/images/icons.svg#search"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
