<div class="backdrop js-backdrop">
    <div class="modal-team">
      <h2 class="modal-team-title">Our team</h2>
      <p  class="modal-team-article">Five Star Solutions</p>
      <div class="modal-team-box">
        <div class="modal-team-box-two">
            <img class="modal-team-img" src="./images/teamModal_8.jpg" alt="">
            <p class="modal-team-article-one">Team Lead</p>
            <p class="modal-team-article-two">Taras Netrebko</p>
        </div>
        <div class="modal-team-box-two">
            <img class="modal-team-img" src="./images/teamModal_4.jpg" alt="">
            <p class="modal-team-article-one">Scrum Master</p>
            <p class="modal-team-article-two">Olha Bezrukova</p>
        </div>
        <div class="modal-team-box-two">
            <img class="modal-team-img" src="./images/teamModal_3.jpg" alt="Владимир">
            <p class="modal-team-article-one">Front-end Developer </p>
            <p class="modal-team-article-two">Turchyn Volodymyr</p>
        </div>
        <div class="modal-team-box-two">
            <img class="modal-team-img" src="./images/teamModal_1.jpg" alt="Миронець Орися">
            <p class="modal-team-article-one">Front-end Developer </p>
            <p class="modal-team-article-two">Myronets Orysya</p>
        </div>
        <div class="modal-team-box-two">
            <img class="modal-team-img" src="./images/teamModal_5.jpg" alt="Гаврик Сергій">
            <p class="modal-team-article-one">Front-end Developer </p>
            <p class="modal-team-article-two">Serhii Havryk</p>
        </div>
        <div class="modal-team-box-two">
            <img class="modal-team-img" src="./images/teamModal_6.jpg" alt="Сичов Денис">
            <p class="modal-team-article-one">Front-end Developer </p>
            <p class="modal-team-article-two">Denys Sychov</p>
        </div>
        <div class="modal-team-box-two">
            <img class="modal-team-img" src="./images/teamModal_7.jpg" alt="Опалюк Євгеній">
            <p class="modal-team-article-one">Front-end Developer </p>
            <p class="modal-team-article-two">Opalyuk Evgeniy</p>
        </div>
        <div class="modal-team-box-two">
            <img class="modal-team-img" src="./images/teamModal_2.jpg" alt="Гаврик Сергій">
            <p class="modal-team-article-one">Front-end Developer </p>
            <p class="modal-team-article-two">Nalyvka Yevhenii</p>
        </div>
      </div>
        <button type="button" class="modal-team-close" id="closeModal">
            <svg class="modal-team-icon" width="30" height="30" viewBox="0 0 30 30"  xmlns="http://www.w3.org/2000/svg">
                <path d="M8 8L22 22"  stroke-width="2" />
                <path d="M8 22L22 8"  stroke-width="2" />
            </svg>
        </button>
        </div>
</div>


