<div class="backdrop js-backdrop">
    <div class="modal-team">
      <h2>Наша команда</h2>
      <div class="modal-team-box">
        <div >
            <img class="modal-team-img" src="./images/teamModal_1.jpg" alt="">
            <p></p>
        </div>
        <div>
            <img class="modal-team-img" src="./images/teamModal_2.jpg" alt="">
            <p></p>
        </div>
        <div>
            <img class="modal-team-img" src="./images/teamModal_3.jpg" alt="">
            <p></p>
        </div>
        <div>
            <img class="modal-team-img" src="./images/teamModal_4.jpg" alt="">
            <p></p>
        </div>
        <div>
            <img class="modal-team-img" src="./images/teamModal_5.jpg" alt="">
            <p></p>
        </div>
        <div>
            <img class="modal-team-img" src="./images/teamModal_6.jpg" alt="">
            <p></p>
        </div>
        <div>
            <img class="modal-team-img" src="./images/teamModal_7.jpg" alt="">
            <p></p>
        </div>
        <div>
            <img class="modal-team-img" src="./images/teamModal_8.jpg" alt="">
            <p></p>
        </div>
      </div>
        <button type="button" class="button" id="closeModal">Close</button>    
    </div>
</div>