.container.header-library {
  max-width: 100%;
  height: 230px;

  background-image: url('/src/images/header-library320.jpg');
  background-color: var(--background-backout);

  background-repeat: no-repeat;
  background-position: center;
  // background-size: 320px 230px;
  background-size: 100% 100%;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('/src/images/header-library320@2x.webp');
  }

  @include tab {
    height: 216px;

    background-image: url('/src/images/header-library768.jpg');
    // background-size: 768px 216px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('/src/images/header-library768@2x.webp');
    }
  }

  @include desk {
    background-image: url('/src/images/header-library1280.jpg');
    // background-size: 1280px 216px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('/src/images/header-library1280@2x.webp');
    }
  }
}

.header-home__container {
  position: relative;
  padding-top: 44px;
  padding-bottom: 92px;

  @include tab {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

.header-library__container {
  position: relative;

  padding-top: 40px;
  padding-bottom: 62px;

  @include tab {
    padding-bottom: 60px;
  }
}

.header-home-btn__container {
  position: absolute;
  top: 10%;
  right: 0;
}

.header-library-btn__container {
  display: flex;
  justify-content: space-between;

  @include tab {
    justify-content: center;
  }
}

.header-library__btn {
  width: 129px;
  height: 44px;

  text-transform: uppercase;
  @include font(12px, 500, 1.33);

  border-radius: 5px;
  border: 1px solid var(--white-color);

  color: var(--white-color);

  &:hover,
  &:focus,
  &.active {
    background-color: var(--accent-color-btn);
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    border: none;
  }

  @include tab {
    width: 152px;
  }
}

// .header-library__btn--accent-color {
//   background-color: var(--accent-color-btn);
//   filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));

//   &:hover,
//   &:focus {
//     background-color: transparent;
//     border: 1px solid var(--white-color);
//   }
// }

.header-library__btn--outline {
  //   border: 1px solid var(--white-color);

  //   &:hover,
  //   &:focus {
  //     border: none;
  //     background-color: var(--accent-color-btn);
  //     filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  //   }

  @include tab {
    margin-left: 32px;
  }

  @include desk {
    margin-left: 16px;
  }
}

.message {
  text-align: center;
  .message__link {
    text-decoration: underline;
    color: rgb(109, 109, 252);
  }
}
