.preloader {
    z-index: 999;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: 0.6s;
    background: rgba(0,0,0,0.7);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hidden {
    display: none;
}


