@media screen and (min-width: 320px) {
  .main {
    background: var(--white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .gallery {
    //width: 320px;
    padding-top: 16px;
    background: #ffffff;
  }

  .dark .gallery {    
    background-color: var(--primary-background-color-dark-theme);
  }

  .card {
    margin: 0px auto 20px;
    display: flex;
    flex-direction: column;
  }

  .card__image {
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .card__title {
    color: #000000;
    text-transform: uppercase;
  }

  .dark .card__title {
    color: var(--primary-font-color-dark-theme);
  }

  .card__genres {
    color: #ff6b08;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    //width: unset;
    padding: 60px 0px 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -16px;
  }

  .card {
    margin-bottom: 32px;
    width: 50%;
    padding: 0 8px;
  }

  .card__image {
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .card__title {
    color: #000000;
    text-transform: uppercase;
  }

  .card__genres {
    color: #ff6b08;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    justify-content: start;
  }

  .card {
    margin-bottom: 32px;
    margin-left: 0;
    margin-right: 0;
    width: calc(100% / 3);
  }
}
