@media screen and (min-width: 320px) {
  .main {
    background: var(--white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    min-height: 100vh;
  }

  .gallery {
    //width: 320px;
    padding-top: 16px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dark .gallery {
    background-color: var(--primary-background-color-dark-theme-body);
  }

  .card, .cardlib {
    margin: 0px auto 20px;
    display: flex;
    flex-direction: column;
  }
  .card:hover,
  .cardlib:hover {
    transform: scale(1.02);
    cursor: pointer;
  }

  .card__image {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 280px;
    height: 398px;
  }

  .card__title {
    color: #000000;
    text-transform: uppercase;
  }

  .dark .card__title {
    color: var(--primary-font-color-dark-theme);
  }

  .card__genres {
    color: #ff6b08;
  }
}

@media screen and (min-width: 768px) {
    .main {
      min-height: 100vh;
    }
    .gallery {
    //width: unset;
    padding: 60px 0px 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    // margin: 0 -8px;
  }

  .card, .cardlib {
    margin-bottom: 32px;
    // width: 50%;
    // padding: 0 8px;
    width: calc((100% - 32px) / 2);
    margin-right: 32px;
    margin-left: 0px;
  }

  .card__image {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 336px;
    height: 455px;
  }

  .card__title {
    color: #000000;
    text-transform: uppercase;
  }

  .card__genres {
    color: #ff6b08;
  }
}

@media screen and (min-width: 768px) and (max-width: (1280px - 1)) {
  .card:nth-child(2n + 2) {
    margin-right: 0px;
  }
  .cardlib:nth-child(2n + 2) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .main {
      min-height: 100vh;
    }
  .gallery {
    justify-content: start;
  }

  .card, .cardlib {
    margin-bottom: 32px;
    // margin-left: 0;
    // margin-right: 0;
    // width: calc(100% / 3);
    width: calc((100% - 32px) / 3);
    margin-right: 16px;
  }

  .card:nth-child(3n + 3) {
    margin-right: 0px;
  }


  .cardlib:nth-child(3n + 3) {
    margin-right: 0px;
  }
  .card__image {
    width: 394px;
    height: 574px;
  }
}