@media screen and (min-width: 320px) {
  .main {
    background: var(--white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .gallery {
    width: 320px;
    background: #ffffff;
  }

  .dark .gallery {
    background-color: var(--primary-background-color-dark-theme);
  }

  .card {
    margin-bottom: 20px;
  }

  .card__image {
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .card__title {
    color: #000000;
    text-transform: uppercase;
  }

  .card__genres {
    color: #ff6b08;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    width: 768px;
    padding-top: 60px;
    padding-bottom: 28px;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    margin-bottom: 32px;
    width: calc(50% - 16px);
  }

  .card__image {
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .card__title {
    color: #000000;
    text-transform: uppercase;
  }

  .card__genres {
    color: #ff6b08;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    width: 1216px;
    padding-top: 60px;
    padding-bottom: 28px;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    margin-bottom: 32px;
    width: calc(100% / 3 - 16px);
  }

  .card__image {
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .card__title {
    color: #000000;
    text-transform: uppercase;
  }

  .card__genres {
    color: #ff6b08;
  }
}
