.pagination {
    list-style: none;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-bottom: 40px;
    // час прийшов
    @include tab {
        padding-bottom: 60px;
    }
    &__button {
            background-color: #fff;
            justify-content: center;
            align-items: center;
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            /* border: none; */

            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #000000;


            &-dots {
        display: none;

        @include tab {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
          &--none {
    display: none;

    @include tab {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



         &:hover {
    box-shadow: #ff6b08 0px 0px 0px 1px;
    // opacity: 0.2;
}

        &--disabled {
    pointer-events: none; //This makes it not clickable
    opacity: 0.2;
}

        &:not(:last-child) {
    margin-right: 3px;
}

        &-link {
    display: flex;
    text-decoration: none;
    padding: 12px 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}
        }


}

.pagination__active-btn {
    background: #ff6b08;
    padding: 12px 16px;
    color: #ffffff;
}

.pagination__arrow-btn--left,
.pagination__arrow-btn--right {
    background: #f7f7f7;
    stroke: #000000;
}

/* span {
  background-image: url("/src/img/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
  fill: #000000;
} */
.pagination__icon-arrow {
    width: 14px;
    height: 16px;
    fill: #000000;
}

.pagination__button-link svg{
    pointer-events: none;
    width: 16px;
    height: 16px;
}

/* .arrow {
  width: 16px;
  height: 16px;
  fill: #000000;
} */
.dark .pagination__button {
    background-color: var(--secondary-background-color-dark-theme);
}

.dark .pagination__active-btn {
    background: #ff6b08;
}

.dark .pagination__button-link {
    color: var(--secondary-font-color-dark-theme);    
}

.dark .pagination__arrow {    
    stroke: var(--secondary-font-color-dark-theme);
}